<title>Credentials</title>
<? var data = getByName(); ?>//getting the whole table by calling the function with undefined parameter
<? var j = 0;?>
<table cellpadding="20" border="1">//table generating
    <tr>
        <? for (var i = 0; i < data.length; i++) { ?>
        <?if(j==3){ ?>//each row have 3 vendors
    </tr><tr>
    <? j=0
        }else{
        j++
        } ?>
    <td>//in each cell there contains name, url, cutomerId,requestorId(might change to match COUNTER5)
        <div id='<?=data[i].vendorName?>' class="vendorName">vendor: <?= data[i].vendorName ?></div>
        <div class="url">url: <?= data[i].url ?></div>
        <div class="customerId">customer ID: <?= data[i].customerId ?></div>
        <div class="requestorId">requestor ID: <?= data[i].requestorId ?></div>
    </td>
    <?} ?>
</tr>
</table>
<div id="dialog"></div>
//import libraries
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js">
</script>
<script>//functions creating the dialog when mouse over the vendor name
    $(function() {//dialog setting
        $( "#dialog" ).dialog({
            autoOpen: false,
            height: 250,
            width: 200,
            modal: true,
            dialogClass: 'vendor-dialog',
            show: {
                effect: "blind",
                duration: 400//delay
            },
            hide: {
                effect: "blind",
                duration: 400
            }
        });
        //event function
        $( ".vendorName" ).mouseover(function() {
            $( "#dialog" ).dialog({
                position: {
                    my: "left top", //default dialog will be displayed on the left top
                    of: this,
                    collision: "flip"//if any collision change the place
                }
            });
            google.script.run.withSuccessHandler(function(ret){// ret is the return value get from the getByName() function
                $( "#dialog" ).html('<p id="dialog-vendor">'+ret.vendorName+'</p>'+
                    '<hr>'+
                    '<div><a href="(update credential url)" target="_blank">Update this vendor</a></div>'+//waiting for the reference to the actual address of the update page
                    '<div class="dialog-content">'+ret.email+'</div>'+//display contact email
                    '<a href="'+ret.email+'" target="_blank">Email this vendor...</a>');//send email
            }).getByName(this.id);//calling the get function for a certain row
            $( "#dialog" ).dialog( "open" );
        });
        $( "#dialog" ).mouseleave(function() {
            $( "#dialog" ).dialog( "close" );
        });
    });
</script>

<style>
    .ui-dialog-titlebar-close{
        display: none;
    }
    .ui-dialog.vendor-dialog {
        font-family: Verdana,Arial,sans-serif;
        font-size: .8em;
        border-style:solid;
        border-width:1px;
        padding: 5px;
    }
    .ui-dialog{
        background: #F8F8F8;
    }
    #dialog-title {
        font-family: Verdana,Arial,sans-serif;
        font-size: 1.8em;
    }
    .dialog-content {
        width: 200px;
        float: left;
    }
</style>